/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lilita one', sans-serif;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #5c54d1;
    --main-text-color: #fff;
    --main-title-color: #020202;
    --border-color: #F2CFC2;
    --bio-bg-color: #524e4d;
    --bio-border-color: #000303;
    --list-bg-color: rgb(32, 14, 75);
    --lista-btn-color: #9be498;
    --btn-ok-color: #9be498;
    --text-list-color: #f3f0f0;
    --modal-list-color: #9e9ebe;
    --item-list-color: rgb(44, 92, 92);
}

#highlight {
    color: var(--main-color);
    
}

#mainTitle {
    text-align:center;
    font-size: 2rem; 
    color: var(--main-title-color);
}
#subtitle{
    margin-top: 0;
}

/* Container */
#container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    color: var(--main-text-color);
}

#listContainerDia  {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--list-bg-color);
    padding: 50px;
}
#listContainerNoite {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--list-bg-color);
    padding: 50px;
}


/* bioContainer */
#bioContainer {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#bioContainer h2 {
    margin-bottom: 25px;
}

#bioContainer p {
    margin-bottom: 20px;
}

#bioImg {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#bioContainer #welcometext {
    font-weight: bold;
}

#linkContainer li {
    justify-content: center;
}

#linkContainer li a {
    color: var(--lista-btn-color);
    font-size: 17px;
}

#linkContainer {
    justify-content: center;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#listContainerDia,
#listContainerNoite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background: var(--modal-list-color);
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    border: solid 1px;
}

.content--add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

#input-nova-tarefa-dia,
#input-nova-tarefa-noite,
#btn-nova-tarefa-dia,
#btn-nova-tarefa-noite {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-nova-tarefa-dia,
#input-nova-tarefa-noite {
    width: 20rem;
    border-radius: 1rem;
}

#btn-nova-tarefa-dia,
#btn-nova-tarefa-noite {
    background-color: var(--lista-btn-color);
    color: var(--border-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
}

#btn-nova-tarefa-dia:hover,
#btn-nova-tarefa-noite:hover {
    background-color: var(--main-color);
}

#list-item-dia,
#list-item-noite {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#list-item-dia li,
#list-item-noite li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--text-list-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--item-list-color);
    border-radius: 1rem;
    padding-left: 1rem;
}

#list-item-dia li:hover,
#list-item-noite li:hover {
    background-color: var(--bio-border-color);
    transition: 0.4s;
    border-radius: 1rem;
    padding-left: 1rem;
}

#btn-ok {
    border: none;
    background-color: var(--btn-ok-color);
    color: var(--main-text-color);
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 450px) {
    #container {
        flex-direction: column;
    }

    #bioContainer {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bioContainer h2 {
        display: none;
    }

    #bioContainer p {
        max-width: 60%;
        margin: 10px auto;
    }

    #listContainerDia,
    #listContainerNoite {
        text-align: center;
        padding: 30px;
    }

    #listContainerDia .description,
    #listContainerNoite .description {
        margin: 10px auto;
        max-height: 100%;
        line-height: 26px;
    }

    #btnProjects {
        margin: 20px auto;
    }

    .skillBox {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40%;
        text-align: left;
    }

    .skillBox i {
        font-size: 60px;
    }
}
